.iframe-container {
    height: auto;
    width: 100%;
}

#cookie-notice {
    font-size: smaller;
    padding: 0.5rem 1rem;
    display: none;
    text-align: center;
    position: fixed;
    bottom: 0;
    padding: 20px 0;
    width: 100%;
    background: rgba(70, 70, 70, 1);
    color: rgba(255, 255, 255, 0.8);
}

#cookie-notice a {
    font-weight: 600;
    display: inline-flex;
    cursor: pointer;
    margin-left: 0.5rem;
}

#cookie-notice-accept {
    color: rgba(86, 228, 58, 0.5)
}

#cookie-notice-deny {
    color: rgba(243, 34, 34, 0.5)
}

@media (max-width: 767px) {
    #cookie-notice span {
        display: block;
        padding-top: 3px;
        margin-bottom: 1rem;
    }

    #cookie-notice a {
        position: relative;
        bottom: 4px;
    }

    #cookie-notice {
        left: 0px;
    }
}