{{ if .Site.Params.comments }}

<div class="comments">
    <script>
        // load utterances comment
        let currTheme = document.getElementsByTagName('html')[0].getAttribute('data-theme') === 'dark' ? 'dark' : 'light';
        let theme = currTheme === 'dark' ? 'photon-dark' : 'github-light';
        debugger;
        let s = document.createElement('script');
        s.src = 'https://utteranc.es/client.js';
        s.setAttribute('repo', '{{ .Site.Params.utterances.repo }}');
        s.setAttribute('issue-term', '{{ .Site.Params.utterances.issueTerm }}');
        s.setAttribute('label', "site-comments");
        s.setAttribute('theme', theme);
        s.setAttribute('crossorigin', 'anonymous');
        s.setAttribute('async', '');
        document.querySelector('div.comments').innerHTML = '';
        document.querySelector('div.comments').appendChild(s);

        // auto swith utterances theme by body class change
        const mutationObserver = new MutationObserver((mutationsList, observer) => {
            mutationsList.forEach(mutation => {
                if (mutation.attributeName === "data-theme") {
                    if (document.querySelector('.utterances-frame')) {
                        const theme = mutation.target.getAttribute("data-theme") === "dark" ? 'github-dark' : 'github-light';
                        const message = {
                            type: 'set-theme',
                            theme: theme
                        };
                        const iframe = document.querySelector('.utterances-frame');
                        iframe.contentWindow.postMessage(message, 'https://utteranc.es');
                    }
                }
            })
        });
        mutationObserver.observe(document.getElementsByTagName('html')[0], { attributes: true });
    </script>
</div>
{{ end }}